header{
      width: 100%;
      position: fixed;
      height: 80px;
      background-color: #DA251C;
      z-index:20;
      > *{
        padding-top: 19px;
        height: auto;
        display: inline-block;
        vertical-align: middle;
      }
      .h_divider{
        position: relative;
        top: 7px;
        border-left: 1px solid #FF3B31;
        border-right: 1px solid #B21810;
        height: 26px;
      }
      .h_logo{
        width: 21.1%;
        text-align: center;
      }
      nav{
        width: 57.8%;
        .h_divider{
          top: 0;
          float: left;
          height: 45px;
        }
        a {
          display: inline-block;
          text-align: center;
          letter-spacing: 2px;
          color: #FFF;
          font-family: "Bebas Neue Bold";
          font-size: 18px;
          font-weight: 400;
          text-decoration: none;
          float: left;
          line-height: 45px;
          padding-right: 4.09%;
          &:not(:first-of-type):before{
            content: "\2605";
            position: relative;
            top: -1px;
            right: 2px;
            display: none;
          }
          &:not(:first-of-type).active:before {
            display: inline-block;
          }
          /*.star {
            position: relative;
            top: -1px;
            right: 2px;
          }*/
          &.link_01{
            margin-left: 5.4%;
          }
        }
      }
      .h_number{
        width: 33%;
        font-family: "Arial Black";
        font-size: 20px;
        color: #FFFFFF;
        padding: 0 0 0 4%;
        line-height: 45px;
        @include var_BeforeImage(35px,'../images/tel_ico.png');
          &:before{
            padding: 0;
            margin-right: 10px;
            top: 10px;
          }
      }
}