.main_wrapper {
  display: block;
  height: 100vh;
  margin: 0 auto;
  .section {
    width: 100%;
    height: 100%;
  }
  @import "components/intro.scss";
  @import "components/directions.scss";
  @import "components/masters.scss";
  @import "components/studio.scss";
  @import "components/application.scss";
  @import "components/inform.scss";
  @import "components/inner-page.scss";
  @import "base/footer";
}
