@import "compass";
@import "susy";

$susy: (
        columns: 12,
        gutters: 0.1
);
%var_text-arial{
  font-family: "Arial";
  font-size: 0.803em;
  font-weight: 400;
}
%var_top-short-description{
  position: relative;
  z-index: 5;
  left: 3.5%;
  padding: 122px 0 32px;
  max-width: 995px;
  line-height: 1.2em;
  @extend %var_text-arial;
}

@mixin var_Sections($bg-color){
  position: relative;
  width: 100%;
  max-height: 980px;
  background: $bg-color;
  overflow: hidden;
}
@mixin var_TextBebasNew($color,$fsize, $ftype){
  color: $color;
  font-family: "Bebas Neue"+$ftype;
  font-size: $fsize;
  font-weight: 300;
}
@mixin var_LinkBebasNew($color, $colorHov, $fsize, $ftype){
  a {
    color: $color;
    font-family: "Bebas Neue"+$ftype;
    font-size: $fsize;
    font-weight: 300;
    &:hover{
      color: $colorHov;
    }
  }
}
@mixin var_BeforeImage($side,$locate){
  &:before{
    content: '';
    display: inline-block;
    height: $side;
    width: $side;
    position: relative;
    top: ($side/2)-2px;
    background: url($locate) no-repeat;
  }
}
@mixin var_SvgSwitcher($line-color){
  .wrapper-movedown{
    height: 10%;
    position: absolute;
    z-index: 20;
    bottom: 0;
    width: 100%;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -ms-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
    opacity: 1;
    /*&:hover{
      opacity: 1;
    }*/
    svg{
      opacity: .5;
      -webkit-transition: opacity .25s linear;
      -moz-transition: opacity .25s linear;
      -ms-transition: opacity .25s linear;
      -o-transition: opacity .25s linear;
      transition: opacity .25s linear;
      position: absolute;
      z-index: 25;
      top:0;
      left:49%;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
      line{
        stroke: $line-color;
      }
    }
  }
}

