/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 10, ../sass/style.scss */
strong, b {
  font-weight: bold !important;
}

/* line 14, ../sass/style.scss */
em, i {
  font-style: italic !important;
}

/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/base/_variables.scss */
.main_wrapper #s_directions .directions__text-head, .main_wrapper #s_masters .masters__head, .main_wrapper #s_studio .studio__head, .main_wrapper #s_application .application__head, .main_wrapper #s_intro .intro__main_text, .main_wrapper #s_directions .directions_text p, .main_wrapper #s_directions .directions_text a, .main_wrapper #s_masters .masters__teacher .teachers .description a, .main_wrapper #s_studio .studio__information .studios .description a, .main_wrapper #s_application .application__inform .now div a, .main_wrapper #s_application .application__form #send_form, .main_wrapper footer div {
  font-family: "Arial";
  font-size: 0.803em;
  font-weight: 400;
}

/* line 13, ../sass/base/_variables.scss */
.main_wrapper #s_directions .directions__text-head, .main_wrapper #s_masters .masters__head, .main_wrapper #s_studio .studio__head, .main_wrapper #s_application .application__head {
  position: relative;
  z-index: 5;
  left: 3.5%;
  padding: 122px 0 32px;
  max-width: 995px;
  line-height: 1.2em;
}

@font-face {
  font-family: "Bebas Neue Bold";
  src: url('../fonts/bebas/BebasNeue Bold.ttf?1389691026') format('truetype'), url('../fonts/bebas/BebasNeue Bold.otf?1389690978') format('opentype');
}
@font-face {
  font-family: "Bebas Neue Book";
  src: url('../fonts/bebas/BebasNeue Book.ttf?1389998578') format('truetype'), url('../fonts/bebas/BebasNeue Book.otf?1389998438') format('opentype');
}
@font-face {
  font-family: "Bebas Neue Light";
  src: url('../fonts/bebas/BebasNeue Light.ttf?1389998708') format('truetype'), url('../fonts/bebas/BebasNeue Light.otf?1389998678') format('opentype');
}
@font-face {
  font-family: "Bebas Neue Regular";
  src: url('../fonts/bebas/BebasNeue Regular.ttf?1389998908') format('truetype'), url('../fonts/bebas/BebasNeue Regular.otf?1389998860') format('opentype');
}
/* line 4, ../sass/base/_reset.scss */
body, .main-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 100%;
}
/* line 11, ../sass/base/_reset.scss */
body h1, .main-wrapper h1, html h1 {
  text-transform: uppercase;
}

/* line 1, ../sass/base/_header.scss */
header {
  width: 100%;
  position: fixed;
  height: 80px;
  background-color: #DA251C;
  z-index: 20;
}
/* line 7, ../sass/base/_header.scss */
header > * {
  padding-top: 19px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
/* line 13, ../sass/base/_header.scss */
header .h_divider {
  position: relative;
  top: 7px;
  border-left: 1px solid #FF3B31;
  border-right: 1px solid #B21810;
  height: 26px;
}
/* line 20, ../sass/base/_header.scss */
header .h_logo {
  width: 12%;
  text-align: center;
}
/* line 24, ../sass/base/_header.scss */
header nav {
  width: 44.2%;
}
/* line 26, ../sass/base/_header.scss */
header nav a {
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
  color: #FFF;
  font-family: "Bebas Neue Bold";
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
/* line 36, ../sass/base/_header.scss */
header nav .link_01 {
  width: 19.54545%;
  float: left;
  margin-left: 0.22727%;
  margin-right: 0.22727%;
  margin-left: 5%;
}
/* line 41, ../sass/base/_header.scss */
header nav .link_02 {
  width: 14.54545%;
  float: left;
  margin-left: 0.22727%;
  margin-right: 0.22727%;
}
/* line 44, ../sass/base/_header.scss */
header nav .link_03 {
  width: 14.54545%;
  float: left;
  margin-left: 0.22727%;
  margin-right: 0.22727%;
}
/* line 47, ../sass/base/_header.scss */
header nav .link_04 {
  width: 19.54545%;
  float: left;
  margin-left: 0.22727%;
  margin-right: 0.22727%;
}
/* line 50, ../sass/base/_header.scss */
header nav .link_05 {
  width: 19.54545%;
  float: left;
  margin-left: 0.22727%;
  margin-right: 0.22727%;
}
/* line 54, ../sass/base/_header.scss */
header .h_number {
  width: 33%;
  font-family: "Arial Black";
  font-size: 1.250em;
  color: #FFFFFF;
  padding: 0 0 0 4%;
}
/* line 37, ../sass/base/_variables.scss */
header .h_number:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  top: 15.5px;
  background: url("../images/tel_ico.png") no-repeat;
}
/* line 61, ../sass/base/_header.scss */
header .h_number:before {
  padding: 0;
  margin-right: 10px;
  top: 10px;
}

/* line 1, ../sass/base/_main-wrapper.scss */
.main_wrapper {
  display: block;
  height: 100vh;
  margin: 0 auto;
}
/* line 5, ../sass/base/_main-wrapper.scss */
.main_wrapper .section {
  width: 100%;
  height: 100%;
}
/* line 1, ../sass/components/_intro.scss */
.main_wrapper #s_intro {
  position: relative;
  width: 100%;
  max-height: 980px;
  background: #000;
  overflow: hidden;
}
/* line 3, ../sass/components/_intro.scss */
.main_wrapper #s_intro > * {
  display: inline-block;
}
/* line 6, ../sass/components/_intro.scss */
.main_wrapper #s_intro .intro__main_logo {
  position: absolute;
  z-index: 4;
  height: 38%;
  width: 23%;
  top: 23%;
  left: 4.5%;
  background: url(../images/logo_intro_big.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
/* line 18, ../sass/components/_intro.scss */
.main_wrapper #s_intro .intro__main_text {
  color: #FFFFFF;
  z-index: 6;
  position: absolute;
  top: 22%;
  left: 31%;
  max-width: 415px;
}
/* line 26, ../sass/components/_intro.scss */
.main_wrapper #s_intro .intro__main_text h1 {
  max-width: 500px;
  line-height: 1.2em;
  color: #FFF;
  padding-bottom: 7%;
  color: #FFF;
  font-family: "Bebas Neue Light";
  font-size: 4.308em;
  font-weight: 300;
}
/* line 33, ../sass/components/_intro.scss */
.main_wrapper #s_intro .intro__main_text p {
  padding-bottom: 5%;
}
/* line 37, ../sass/components/_intro.scss */
.main_wrapper #s_intro .intro__backscreen {
  position: absolute;
  z-index: 2;
  float: right;
  height: 100%;
  width: 80%;
  left: 21%;
  background: url(../images/main.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 1, ../sass/components/_directions.scss */
.main_wrapper #s_directions {
  position: relative;
  width: 100%;
  max-height: 980px;
  background: #FFF;
  overflow: hidden;
}
/* line 6, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions__nav {
  position: relative;
  z-index: 5;
  text-align: center;
}
/* line 10, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions__nav div {
  display: inline;
  color: #2B1B1B;
  font-family: "Bebas Neue Bold";
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 1em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
/* line 17, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions__nav .active_dir {
  color: #DA251C;
  width: 161px;
  height: 64px;
  /*background: url(../images/button_menu_directions.png) no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 0px 10px;
  padding: 0.7em 1.1em 1.5em 1.1em;*/
  padding: .5em .9em;
  background: #fff;
  border-bottom: 2px solid #E97F79;
  border-radius: 25px / 30px;
  position: relative;
}
/* line 31, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions__nav .active_dir:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 12.5%;
  width: 75%;
  height: 100%;
  box-shadow: 0 15px 25px -15px rgba(218, 37, 28, 0.48);
}
/* line 42, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions__slider {
  width: 300%;
  height: 100%;
  vertical-align: bottom;
  position: absolute;
}
/* line 48, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions__slider div {
  width: 7.63359%;
  float: left;
  position: relative;
  padding-top: 4.5%;
  height: 50%;
  filter: blur(4px);
  -webkit-filter: blur(9px);
  -moz-filter: blur(9px);
  -o-filter: blur(9px);
  -ms-filter: blur(9px);
}
/* line 63, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions__slider div img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
/* line 72, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions__slider .center {
  padding-top: 0;
  width: 15.38462%;
  float: left;
  margin-left: 0.5%;
  margin-right: 1.5%;
  height: 86%;
  background-position: left;
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  -o-filter: blur(0);
  -ms-filter: blur(0);
}
/* line 87, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions_text {
  position: absolute;
  display: none;
  opacity: 0;
  z-index: 8;
  top: 32%;
  left: 55%;
  max-width: 430px;
}
/* line 95, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions_text h1 {
  color: #DA251C;
  font-family: "Bebas Neue Book";
  font-size: 7.7em;
  font-weight: 300;
  line-height: 0.95em;
  padding-bottom: 0.1em;
}
/* line 100, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions_text p {
  padding: 0.7em 0 0.7em;
  line-height: 1.2em;
}
/* line 106, ../sass/components/_directions.scss */
.main_wrapper #s_directions .directions_text a {
  color: #4491F9;
  font-size: 1.2em;
}
/* line 37, ../sass/base/_variables.scss */
.main_wrapper #s_directions .directions_text .video:before {
  content: '';
  display: inline-block;
  height: 45px;
  width: 45px;
  position: relative;
  top: 20.5px;
  background: url("../images/button_small_video.png") no-repeat;
}
/* line 37, ../sass/base/_variables.scss */
.main_wrapper #s_directions .directions_text .applicate:before {
  content: '';
  display: inline-block;
  height: 45px;
  width: 45px;
  position: relative;
  top: 20.5px;
  background: url("../images/button_small_check.png") no-repeat;
}
/* line 48, ../sass/base/_variables.scss */
.main_wrapper #s_directions svg {
  position: absolute;
  z-index: 15;
  top: 90.5%;
  left: 49%;
}
/* line 53, ../sass/base/_variables.scss */
.main_wrapper #s_directions svg line {
  stroke: #dc241c;
}
/* line 120, ../sass/components/_directions.scss */
.main_wrapper .blur {
  -webkit-filter: blur(9px) !important;
  -moz-filter: blur(9px) !important;
  -o-filter: blur(9px) !important;
  -ms-filter: blur(9px) !important;
}
/* line 1, ../sass/components/_masters.scss */
.main_wrapper #s_masters {
  position: relative;
  width: 100%;
  max-height: 980px;
  background: #000;
  overflow: hidden;
  color: #FFF;
}
/* line 7, ../sass/components/_masters.scss */
.main_wrapper #s_masters .masters__teacher {
  text-align: center;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
.main_wrapper #s_masters .masters__teacher:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 10, ../sass/components/_masters.scss */
.main_wrapper #s_masters .masters__teacher .teachers {
  vertical-align: middle;
  display: inline-block;
  padding: 1.7% 0;
  width: 30.30303%;
  float: left;
  margin-left: 1.51515%;
  margin-right: 1.51515%;
}
/* line 15, ../sass/components/_masters.scss */
.main_wrapper #s_masters .masters__teacher .teachers div {
  display: inline-block;
  text-align: left;
}
/* line 19, ../sass/components/_masters.scss */
.main_wrapper #s_masters .masters__teacher .teachers .ico {
  float: left;
  width: 46.06061%;
  float: left;
  margin-left: 0.30303%;
  margin-right: 0.30303%;
}
/* line 23, ../sass/components/_masters.scss */
.main_wrapper #s_masters .masters__teacher .teachers .description {
  width: 52.72727%;
  float: left;
  margin-left: 0.30303%;
  margin-right: 0.30303%;
  float: right;
}
/* line 26, ../sass/components/_masters.scss */
.main_wrapper #s_masters .masters__teacher .teachers .description h1 {
  color: #DA251C;
  font-family: "Bebas Neue Book";
  font-size: 3.5em;
  font-weight: 300;
  padding-bottom: 0.4em;
}
/* line 30, ../sass/components/_masters.scss */
.main_wrapper #s_masters .masters__teacher .teachers .description p {
  padding-bottom: 0.3em;
}
/* line 33, ../sass/components/_masters.scss */
.main_wrapper #s_masters .masters__teacher .teachers .description a {
  color: #FFF;
  font-size: 0.915em;
}
/* line 37, ../sass/base/_variables.scss */
.main_wrapper #s_masters .masters__teacher .teachers .description .more:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  top: 15.5px;
  background: url("../images/button_small_question.png") no-repeat;
}
/* line 37, ../sass/base/_variables.scss */
.main_wrapper #s_masters .masters__teacher .teachers .description .applicate:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  top: 15.5px;
  background: url("../images/button_small_check_teachers.png") no-repeat;
}
/* line 48, ../sass/base/_variables.scss */
.main_wrapper #s_masters svg {
  position: absolute;
  z-index: 15;
  top: 90.5%;
  left: 49%;
}
/* line 53, ../sass/base/_variables.scss */
.main_wrapper #s_masters svg line {
  stroke: #ffffff;
}
/* line 51, ../sass/components/_masters.scss */
.main_wrapper #f1_container {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}
/* line 62, ../sass/components/_masters.scss */
.main_wrapper #f1_card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .35s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all .35s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all .35s linear;
  transform-style: preserve-3d;
  transition: all .35s linear;
}
/* line 74, ../sass/components/_masters.scss */
.main_wrapper #f1_container:hover #f1_card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 80, ../sass/components/_masters.scss */
.main_wrapper .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 89, ../sass/components/_masters.scss */
.main_wrapper .face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  transform: rotateY(180deg);
  box-sizing: border-box;
}
/* line 1, ../sass/components/_studio.scss */
.main_wrapper #s_studio {
  position: relative;
  width: 100%;
  max-height: 980px;
  background: #000;
  overflow: hidden;
  color: #FFF;
}
/* line 7, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information {
  text-align: center;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
.main_wrapper #s_studio .studio__information:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 10, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information .studios {
  vertical-align: middle;
  display: inline-block;
  padding: 1.7% 0 3.8%;
  width: 30.30303%;
  float: left;
  margin-left: 1.51515%;
  margin-right: 1.51515%;
}
/* line 15, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information .studios div {
  display: inline-block;
  text-align: left;
}
/* line 19, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information .studios .foto {
  float: left;
  width: 46.06061%;
  float: left;
  margin-left: 0.30303%;
  margin-right: 0.30303%;
}
/* line 22, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information .studios .foto img {
  width: 90%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 29, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information .studios .description {
  width: 52.72727%;
  float: left;
  margin-left: 0.30303%;
  margin-right: 0.30303%;
  float: right;
}
/* line 32, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information .studios .description h1 {
  color: #DA251C;
  font-family: "Bebas Neue Book";
  font-size: 3.5em;
  font-weight: 300;
  padding-bottom: 0.4em;
  max-width: 80%;
}
/* line 37, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information .studios .description p {
  padding-bottom: 1em;
}
/* line 40, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information .studios .description .data {
  padding-bottom: 0;
}
/* line 43, ../sass/components/_studio.scss */
.main_wrapper #s_studio .studio__information .studios .description a {
  color: #FFF;
  font-size: 0.915em;
}
/* line 37, ../sass/base/_variables.scss */
.main_wrapper #s_studio .studio__information .studios .description .more:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  top: 15.5px;
  background: url("../images/button_small_question.png") no-repeat;
}
/* line 37, ../sass/base/_variables.scss */
.main_wrapper #s_studio .studio__information .studios .description .applicate:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  top: 15.5px;
  background: url("../images/button_small_check_teachers.png") no-repeat;
}
/* line 48, ../sass/base/_variables.scss */
.main_wrapper #s_studio svg {
  position: absolute;
  z-index: 15;
  top: 90.5%;
  left: 49%;
}
/* line 53, ../sass/base/_variables.scss */
.main_wrapper #s_studio svg line {
  stroke: #ffffff;
}
/* line 1, ../sass/components/_application.scss */
.main_wrapper #s_application {
  position: relative;
  width: 100%;
  max-height: 980px;
  background: #000;
  overflow: hidden;
  color: #FFF;
}
/* line 7, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform {
  padding: 4px 0 0 32px;
  width: 100%;
  height: 25.5%;
}
/* line 11, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform div {
  display: inline-block;
  vertical-align: top;
}
/* line 15, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform .now {
  width: 58.18182%;
  float: left;
  margin-left: 0.90909%;
  margin-right: 0.90909%;
}
/* line 17, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform .now div {
  width: 30.30303%;
  float: left;
  margin-left: 1.51515%;
  margin-right: 1.51515%;
}
/* line 19, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform .now div h1 {
  color: #DA251C;
  font-family: "Bebas Neue Book";
  font-size: 3.5em;
  font-weight: 300;
  padding-bottom: 8px;
}
/* line 23, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform .now div .data {
  padding-bottom: 0;
}
/* line 26, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform .now div a {
  color: #FFF;
  font-size: 0.915em;
}
/* line 37, ../sass/base/_variables.scss */
.main_wrapper #s_application .application__inform .now div .applicate:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  position: relative;
  top: 15.5px;
  background: url("../images/button_small_check_teachers.png") no-repeat;
}
/* line 36, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform .divider {
  width: 5%;
  margin-top: 1%;
  height: 55%;
  border-left: 1px solid #545454;
  background-position: right;
}
/* line 43, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform .load {
  width: 15%;
}
/* line 46, ../sass/components/_application.scss */
.main_wrapper #s_application .application__inform .load a {
  color: #DA251C;
  font-family: "Bebas Neue Book";
  font-size: 3.5em;
  font-weight: 300;
}
/* line 53, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form {
  width: 100%;
}
/* line 55, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form {
  border: 1px solid #FFFFFF;
  position: relative;
  left: 3.5%;
  width: 51.2%;
  font-size: 1em;
  height: 41vh;
}
/* line 64, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-subheader {
  width: 96.5%;
  background: #FFFFFF;
  color: #DA251C;
  font-family: "Bebas Neue Book";
  font-size: 2.5em;
  font-weight: 300;
  padding: 1% 0 1% 3.5%;
  height: 10%;
}
/* line 71, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left {
  display: inline;
  height: 85%;
  width: 38.02817%;
  float: left;
  background: #150303;
}
/* line 77, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left div {
  padding: 7% 12% 5% 9.5%;
  width: 78.5%;
}
/* line 80, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left div input {
  border-right: 1px solid #fff;
  background: #150303;
  color: #fff;
  padding: 0.3em;
}
/* line 87, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left div ~ * {
  display: inline-block;
  vertical-align: middle;
}
/* line 91, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_1 {
  padding-top: 18%;
}
/* line 93, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_1 p {
  padding-top: 1.5%;
  width: 16.03053%;
  float: left;
}
/* line 97, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_1 input {
  width: 79.62963%;
  float: right;
  margin-right: 0;
}
/* line 102, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_2 p {
  padding-top: 1.5%;
  width: 43.25397%;
  float: left;
}
/* line 106, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_2 input {
  width: 49.77169%;
  float: right;
  margin-right: 0;
  text-align: right;
}
/* line 109, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_2 input::-webkit-datetime-edit {
  text-align: center;
}
/* line 112, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_2 input::-webkit-calendar-picker-indicator {
  opacity: 1;
  background: url("../images/date_form_button.png") no-repeat;
  padding-left: 21%;
  margin-right: -16%;
  -webkit-appearance: none;
}
/* line 120, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_2 input::-webkit-inner-spin-button {
  display: none;
}
/* line 125, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_3 {
  padding-top: 5%;
}
/* line 127, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_3 #l_31 {
  padding-top: 1.5%;
  width: 30.37975%;
  float: left;
}
/* line 131, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_3 #l_32 {
  width: 20.53232%;
  float: left;
  text-align: right;
}
/* line 135, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_3 #l_33 {
  padding-top: 1.5%;
  width: 27.63158%;
  float: left;
  text-align: center;
}
/* line 142, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_3 #l_34 {
  width: 13.15789%;
  float: right;
  margin-right: 0;
}
/* line 146, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_4 {
  padding-top: 5%;
}
/* line 148, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_4 p {
  padding-top: 1.5%;
  width: 53.9924%;
  float: left;
}
/* line 152, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-left .line_4 input {
  width: 37.32194%;
  float: right;
  margin-right: 0;
  text-align: center;
}
/* line 158, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-middle {
  padding-right: 1.4%;
  display: inline;
  width: 38.02817%;
  float: left;
  height: 85%;
  background: #1c0404;
}
/* line 165, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-middle div {
  margin: 24% 9.5% 5% 12%;
}
/* line 167, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-middle div select {
  width: 100%;
  border-right: 1px solid #fff;
  background: #1c0404;
  color: #ffffff;
  margin-top: 6%;
  padding: 0.3em;
}
/* line 175, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-middle div:last-child {
  margin-top: 10%;
}
/* line 180, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-right {
  display: inline;
  width: 22.53521%;
  float: left;
  text-align: center;
  background: #260705;
  height: 85%;
}
/* line 187, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-right a {
  height: 100%;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
/* line 193, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-right a img {
  margin-top: 36%;
}
/* line 196, ../sass/components/_application.scss */
.main_wrapper #s_application .application__form #send_form .form-right a p {
  position: relative;
  margin-top: -11%;
}
/* line 48, ../sass/base/_variables.scss */
.main_wrapper #s_application svg {
  position: absolute;
  z-index: 15;
  top: 90.5%;
  left: 49%;
}
/* line 53, ../sass/base/_variables.scss */
.main_wrapper #s_application svg line {
  stroke: #ffffff;
}
/* line 1, ../sass/components/_inform.scss */
.main_wrapper #s_inform {
  position: relative;
  width: 100%;
  max-height: 980px;
  background: #000000;
  overflow: hidden;
  color: #ffffff;
  height: 91%;
}
/* line 5, ../sass/components/_inform.scss */
.main_wrapper #s_inform .inform__studio {
  padding-top: 132px;
  padding-left: 3.5%;
}
/* line 9, ../sass/components/_inform.scss */
.main_wrapper #s_inform .inform__studio .inform div {
  display: inline-block;
  vertical-align: top;
}
/* line 14, ../sass/components/_inform.scss */
.main_wrapper #s_inform .inform__studio .inform .image img {
  max-height: 147px;
  max-width: 139px;
}
/* line 18, ../sass/components/_inform.scss */
.main_wrapper #s_inform .inform__studio .inform .description {
  padding: 0.3em 0 0 1em;
}
/* line 20, ../sass/components/_inform.scss */
.main_wrapper #s_inform .inform__studio .inform .description h1 {
  color: #DA251C;
  font-family: "Bebas Neue Book";
  font-size: 3.5em;
  font-weight: 300;
  padding-bottom: 5px;
}
/* line 24, ../sass/components/_inform.scss */
.main_wrapper #s_inform .inform__studio .inform .description p {
  max-width: 500px;
}
/* line 27, ../sass/components/_inform.scss */
.main_wrapper #s_inform .inform__studio .inform .description .phone {
  padding-top: 1em;
}
/* line 32, ../sass/components/_inform.scss */
.main_wrapper #s_inform .inform__studio .location {
  height: 174px;
  width: 657px;
  margin-top: 1.308em;
}
/* line 38, ../sass/components/_inform.scss */
.main_wrapper #s_inform .line2 {
  padding-top: 3.3em;
}
@keyframes hideArrow {
  from {
    margin-left: 5px;
    opacity: 1;
  }
  to {
    margin-left: 15px;
    opacity: 0;
  }
}
@keyframes showArrow {
  from {
    margin-left: 15px;
    opacity: 0;
  }
  to {
    margin-left: 5px;
    opacity: 1;
  }
}
/* line 21, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section {
  margin-bottom: 80px;
}
/* line 23, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section#in_directions {
  background: #fff;
  color: #000;
}
/* line 27, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section#in_events, .main_wrapper .inner_section#in_teachers {
  background: #000;
  color: #fff;
}
/* line 31, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .text-head {
  position: relative;
  z-index: 5;
  left: 3.5%;
  padding: 122px 0 32px;
  max-width: 46.5%;
  line-height: 1.2em;
  font-family: "Arial";
  font-size: 0.803em;
  font-weight: 400;
}
/* line 42, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .vertical_menu {
  width: 14.5%;
  float: left;
  margin-left: 4.1%;
  margin-right: 6%;
  font: 20px "Bebas Neue Bold";
}
/* line 48, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .vertical_menu li {
  margin-bottom: 12%;
  cursor: pointer;
  position: relative;
  letter-spacing: 1px;
  -webkit-transition: color .15s linear;
  -moz-transition: color .15s linear;
  -ms-transition: color .15s linear;
  -o-transition: color .15s linear;
  transition: color .15s linear;
}
/* line 58, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .vertical_menu li:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 53px;
  top: -9px;
  display: inline-block;
  margin-left: 15px;
  opacity: 0;
}
/* line 69, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .vertical_menu li.show:after {
  -webkit-animation: showArrow .15s linear 1 forwards;
  -moz-animation: showArrow .15s linear 1 forwards;
  -ms-animation: showArrow .15s linear 1 forwards;
  -o-animation: showArrow .15s linear 1 forwards;
  animation: showArrow .15s linear 1 forwards;
}
/* line 78, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .vertical_menu li.hide:after {
  -webkit-animation: hideArrow .15s linear 1 forwards;
  -moz-animation: hideArrow .15s linear 1 forwards;
  -ms-animation: hideArrow .15s linear 1 forwards;
  -o-animation: hideArrow .15s linear 1 forwards;
  animation: hideArrow .15s linear 1 forwards;
}
/* line 86, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .vertical_menu li.white_arrow:after {
  background: url("/images/inner_pages/arrow_white.png") no-repeat;
}
/* line 89, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .vertical_menu li.black_arrow:after {
  background: url("/images/inner_pages/arrow_black.png") no-repeat;
  top: -14px;
}
/* line 93, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .vertical_menu li.active {
  color: #da251c;
  cursor: text;
}
/* line 97, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .vertical_menu li:hover {
  color: #da251c;
}
/* line 102, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content {
  font: 14px "Arial", sans-serif;
  display: none;
  width: 49%;
  float: left;
}
/* line 107, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content.active {
  display: block;
}
/* line 110, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .img_wrap {
  width: 49.74619%;
  float: left;
}
/* line 112, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .img_wrap div {
  display: none;
  text-align: center;
}
/* line 115, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .img_wrap div.active {
  display: block;
}
/* line 118, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .img_wrap div img {
  max-width: 100%;
}
/* line 123, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content h1 {
  font: 59px "Bebas Neue Book";
  color: #DA251C;
  text-transform: uppercase;
  margin-bottom: 4%;
}
/* line 129, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .desc_wrap {
  width: 44.16244%;
  float: right;
  margin-right: 0;
}
/* line 131, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .desc_wrap h1 {
  font-size: 125px;
  font-weight: 300;
  line-height: 0.95em;
  padding-bottom: 0.1em;
  padding-top: 7.5%;
}
/* line 138, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .desc_wrap p {
  padding: 0.7em 0 0.7em;
  line-height: 1.2em;
  font-family: "Arial";
  font-size: 0.803em;
  font-weight: 400;
}
/* line 146, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .video, .main_wrapper .inner_section .content .gallery {
  margin: 15.5% 0 11.5% 0;
}
/* line 149, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .desc_detail {
  max-width: 92%;
  margin-bottom: 7.5%;
}
/* line 153, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .gallery_img {
  width: 14%;
  display: inline-block;
}
/* line 156, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .gallery_img:not(:nth-of-type(6n)) {
  margin: 0 2.7% 2% 0;
}
/* line 159, ../sass/components/_inner-page.scss */
.main_wrapper .inner_section .content .gallery_img img {
  max-width: 100%;
}
/* line 1, ../sass/base/_footer.scss */
.main_wrapper footer {
  position: relative;
  margin-top: -80px;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: #DA251C;
}
/* line 8, ../sass/base/_footer.scss */
.main_wrapper footer div {
  display: inline-block;
  color: #ffffff;
  padding-top: 20px;
  font-size: 16px;
}
/* line 15, ../sass/base/_footer.scss */
.main_wrapper footer .footer__info {
  position: relative;
  left: 3.5%;
  vertical-align: middle;
}
/* line 19, ../sass/base/_footer.scss */
.main_wrapper footer .footer__info p {
  padding-bottom: 5px;
}
/* line 24, ../sass/base/_footer.scss */
.main_wrapper footer .footer__developer {
  float: right;
  padding-right: 26%;
}
/* line 27, ../sass/base/_footer.scss */
.main_wrapper footer .footer__developer a {
  color: #ffffff;
}
