@keyframes hideArrow {
  from {
    margin-left: 5px;
    opacity: 1;
  }
  to {
    margin-left: 15px;
    opacity: 0;
  }
}
@keyframes showArrow {
  from {
    margin-left: 15px;
    opacity: 0;
  }
  to {
    margin-left: 5px;
    opacity: 1;
  }
}
.inner_section {
  margin-bottom: 80px;
  &#in_directions{
    background: #fff;
    color: #000;
  }
  &#in_events, &#in_teachers {
    background: #000;
    color: #fff;
  }
  .text-head {
    position: relative;
    z-index: 5;
    left: 3.5%;
    padding: 122px 0 32px;
    max-width: 46.5%;
    line-height: 1.2em;
    font-family: "Arial";
    font-size: 0.803em;
    font-weight: 400;
  }
  .vertical_menu {
    width: 14.5%;
    float: left;
    margin-left: 4.1%;
    margin-right: 6%;
    font: 20px "Bebas Neue Bold";
    li {
      margin-bottom: 12%;
      cursor: pointer;
      position: relative;
      letter-spacing: 1px;
      -webkit-transition: color .15s linear;
      -moz-transition: color .15s linear;
      -ms-transition: color .15s linear;
      -o-transition: color .15s linear;
      transition: color .15s linear;
      &:after {
        content: "";
        position: absolute;
        width: 60px;
        height: 53px;
        top: -9px;
        display: inline-block;
        margin-left: 15px;
        opacity: 0;
      }
      &.show {
        &:after {
          -webkit-animation: showArrow .15s linear 1 forwards;
          -moz-animation: showArrow .15s linear 1 forwards;
          -ms-animation: showArrow .15s linear 1 forwards;
          -o-animation: showArrow .15s linear 1 forwards;
          animation: showArrow .15s linear 1 forwards;
        }
      }
      &.hide {
        &:after {
          -webkit-animation: hideArrow .15s linear 1 forwards;
          -moz-animation: hideArrow .15s linear 1 forwards;
          -ms-animation: hideArrow .15s linear 1 forwards;
          -o-animation: hideArrow .15s linear 1 forwards;
          animation: hideArrow .15s linear 1 forwards;
        }
      }
      &.white_arrow:after {
        background: url('/images/inner_pages/arrow_white.png') no-repeat;
      }
      &.black_arrow:after {
        background: url('/images/inner_pages/arrow_black.png') no-repeat;
        top: -14px;
      }
      &.active {
        color: #da251c;
        cursor: text;
      }
      &:hover {
        color: #da251c;
      }
    }
  }
  .content {
    font: 14px "Arial", sans-serif;
    display: none;
    width: 49%;
    float:left;
    &.active {
      display: block;
    }
    .img_wrap {
      @include span(9 of 18 no-gutters);
      div {
        display: none;
        text-align: center;
        &.active {
          display: block;
        }
        img {
          max-width: 100%;
        }
      }
    }
    h1 {
      font: 59px "Bebas Neue Book";
      color: #DA251C;
      text-transform: uppercase;
      margin-bottom: 4%;
    }
    .desc_wrap {
      @include span(8 of 18 no-gutters last);
      h1 {
        font-size: 125px;
        font-weight: 300;
        line-height: 0.95em;
        padding-bottom: 0.1em;
        padding-top: 7.5%;
      }
      p {
        padding: 0.7em 0 0.7em;
        line-height: 1.2em;
        font-family: "Arial";
        font-size: 0.803em;
        font-weight: 400;
      }
    }
    .video, .gallery {
      margin: 15.5% 0 11.5% 0;
    }
    .desc_detail {
      max-width: 92%;
      margin-bottom: 7.5%;
    }
    .gallery_img {
      width: 14%;
      display: inline-block;
      &:not(:nth-of-type(6n)) {
        margin: 0 2.7% 2% 0;
      }
      img {
        max-width: 100%;
      }
    }
    .application__form {
      width: 100%;
      #send_form {
        border: 1px solid #FFFFFF;
        position: relative;
        color: #ffffff;
        width: 100%;
        margin-bottom: 15%;
        @extend %var_text-arial;
        font-size: 1em;
        height: 41vh;

        .form-subheader {
          width: 96.5%;
          background: #FFFFFF;
          @include var_TextBebasNew(#DA251C, 2.5em, " Book");
          padding: 1% 0 1% 3.5%;
          height: 10%;
        }
        .form-left {
          display: inline;
          height: 85%;
          @include span(5 of 13 no-gutters);

          background: #150303;
          div{
            padding: 7% 12% 5% 9.5%;
            width: 78.5%;
            input{
              border-right: 1px solid #fff;
              background: #150303;
              color: #fff;
              padding: 0.3em;
            }
          }
          div~*{
            display: inline-block;
            vertical-align: middle;
          }
          .line_1 {
            padding-top: 27%;
            p {
              padding-top: 1.5%;
              @include span(2 of 12 no-gutters);
            }
            input {
              @include span(4 of 5 no-gutters last);
            }
          }
          .line_2 {
            padding-top: 10%;
            p {
              padding-top: 1.5%;
              @include span(10 of 23 no-gutters);
            }
            input {
              @include span(10 of 20 no-gutters last);
              text-align: right;
              &::-webkit-datetime-edit {
                text-align: center;
              }
              &::-webkit-calendar-picker-indicator{
                opacity:1;
                background: url('../images/date_form_button.png') no-repeat;
                padding-left: 21%;
                margin-right: -16%;
                -webkit-appearance: none;

              }
              &::-webkit-inner-spin-button {
                display: none;
              }
            }
          }
          .line_3 {
            padding-top: 5%;
            #l_31 {
              padding-top: 1.5%;
              @include span(11 of 36 no-gutters);
            }
            #l_32 {
              @include span(5 of 24 no-gutters);
              text-align: right;
            }
            #l_33 {
              padding-top: 1.5%;
              @include span(2 of 7 no-gutters);
              text-align: center;


            }
            #l_34 {
              @include span(1 of 7 no-gutters last);
            }
          }
          .line_4 {
            padding-top: 5%;
            p {
              padding-top: 1.5%;
              @include span(13 of 24 no-gutters);
            }
            input {
              @include span(13 of 32 no-gutters last);
              text-align: center;
            }
          }
        }
        .form-middle {
          padding-right: 1.4%;
          display: inline;
          @include span(5 of 13 no-gutters);
          height: 85%;

          background: #1c0404;
          div{
            margin: 24% 9.5% 5% 12%;
            select{
              width: 100%;
              border-right: 1px solid #fff;
              background: #1c0404;
              color: #ffffff;
              margin-top: 6%;
              padding: 0.3em;
            }
            &:last-child{
              margin-top: 10%;
            }
          }
        }
        .form-right {
          display: inline;
          @include span(3 of 13 no-gutters);
          text-align: center;
          background: #260705;
          height: 85%;

          a{
            height: 100%;
            vertical-align: middle;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
            img{
              margin-top: 40%;
            }
            p{
              position: relative;
              margin-top: -11%;
            }
          }


        }
      }
    }

  }
}